@use '../styles/mixins' as *;

.historyContainer{
    @include pageFrame;   
   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    
}

.historyList{
    @include shadowBorder;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 1px solid var(--gray-border);

        span {
            flex: 1 1 0;
            text-align: center;
        }
        
        &:last-child{
            border-bottom: none;
        }
    }
}