@use '../styles/mixins' as *;

.leaderBoardContainer{
    @include pageFrame;   
   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    
}

.leadeBoardList{
    @include shadowBorder;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    
    li{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem;
        border-bottom: 1px solid var(--gray-border);
        font-size: var(--font-lg);

        span {
            flex: 1 1 0;
            text-align: center;
            position: relative;
        }
        
        &:last-child{
            border-bottom: none;
        }
    }
}

.lucideIcon{
    width: var(--font-xxl);
    height: var(--font-xxl);  
    position: absolute;
    right: 100%;
    transform: translateX(120%);     
    top: calc(50% - var(--font-xxl) / 2);  
}

@media (max-width: 500px){
    .leaderBoardContainer{
       padding: 1rem;        
       padding-top: 2rem;
    }
    .lucideIcon{
        transform: translateX(70%); 
    }
    .rankSpan{
        max-width: 4rem;
    }
    .scoreSpan{
        max-width: 4rem;
    }
}