@use '../styles/mixins' as *;

.quizContainer{
    @include pageFrame;
    
    display: flex;
    flex-direction: column;
    gap: 0;
    > *:nth-child(n+3) {
     margin-top: 2rem; 
    }   
    
}

.quizHeader{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
}

.timer{
    margin-right: 1rem;
}
.quizTitle{
    
    margin-left: 0.5rem;
}

.quizQuestion{
    font-size: var(--font-lg);
    margin-left: 0.5rem;
}

.quizForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
    //  border: 1px solid var(--gray-border);
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include shadowBorder;
    // background-color: red;
}

.quizOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 1rem;
    
    // margin-left: auto;
    // margin-right: auto;
}

.timerValue.good {
  color: var(--green-success);
}
.timerValue.short {
  color: var(--yellow-warning);
}
.timerValue.none {
  color: var(--red-error);
}

.progressBarContainer {
  width: 90%;
  margin: 2rem auto 0 auto;
  height: 10px;
  background: var(--gray-border);
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;  
}

.progressBar {
  height: 100%;  
  transition: width 0.3s; 
}

.hard{
  background: var(--yellow-warning);
}
.medium{
  background: var(--green-success);
}
.normal{
  background: var(--primary-blue);
}

.quizFooter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    text-align: center;
    font-size: var(--font-lg);
}

@media (max-width: 500px){
  .quizHeader{
    flex-direction: column;
    align-items: center;
  }
  .quizOptions{
    flex-direction: column;
    align-items: center;
    width: 95%;
  }
}