.navButton{
    border: none;
    display: flex;
    align-items: center;   
    justify-content: center;
    background: var(--light-gray-bg);
    color: var(--dark-text);
    font-size: var(--font-lg);
    &:hover{
        transform: scale(1.3);
    }
}